<ion-header>
    <ion-toolbar>
        <ion-title>{{viewTitle}}</ion-title>
        <ion-buttons slot="end">
            <button ion-button [disabled]="isToday" (click)="today()">Сегодня</button>
            <ion-button routerLink="/add-event/">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <calendar [locale]="calendar.locale" [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)" step="30" startingDayMonth="1" [monthviewEventDetailTemplate]="montTemplate">
    </calendar>
    <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
{{showEventDetail}}
{{selectedDate}}
{{noEventsLabel}}
</ng-template>
<ng-template #montTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
        <ion-item *ngFor="let event of selectedDate?.events" >
            <div (click)="onEventSelected(event)">
                <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">{{event.startTime|date: 'HH:mm'}}
                    -
                    {{event.endTime|date: 'HH:mm'}}
                </span>
            <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">{{allDayLabel}}</span>
            <span class="event-detail">  |  {{event.title}}</span>
            </div>
        <ion-icon slot="end" name="trash" (click)="onDestroyEvent(event)"></ion-icon>

        </ion-item>
        <ion-item *ngIf="selectedDate?.events.length==0">
            <div class="no-events-label">Нет спилов</div>
        </ion-item>
    </ion-list>
</ng-template>
</ion-content>